<nav>
  <div class="items">
    <a href="/" {% if active == "home" %}class="active"{% endif %}>Accueil</a>
    <a href="{% url 'songs' %}" {% if active == "songs" %}class="active"{% endif %}>Musiques</a>
    <a href="{% url 'albums' %}" {% if active == "albums" %}class="active"{% endif %}>Albums</a>
    <a href="{% url 'artists' %}" {% if active == "artists" %}class="active"{% endif %}>Artistes</a>

    <div class="right"></div>

    {% if user.is_authenticated %}

    <a href="{% url 'user' user.id %}" {% if active == "user" %}class="active"{% endif %}>Profile</a>
    <a href="/logout?to={{ request.get_full_path }}">Deconnexion</a>
    {% else %}
    <a href="/login?to={{ request.get_full_path }}">Connexion</a>
    <a href="/signup?to={{ request.get_full_path }}">Inscription</a>
    {% endif %}
  </div>
  <div class="divider"></div>
</nav>