<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff de la musique</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}" />
  </head>
  <body>
    <div style="display: flex">
      <div>
        <img style="width: 10rem" src="{{staff.imageUrl}}" alt="" />
        <p style="text-align: center">{{ staff.name }}</p>
      </div>
    </div>
  </body>
</html>
