{% extends '_base.html' %}
{% block title %} Accueil{% endblock title %}
{% block content %}
Vous etes connecté !
<div>
  {% for activity in activities %}
  <div>
    <p>
      <a href="/user/{{activity.user.id}}">{{activity.user.username}}</a>
      {% if activity.action == 'ADDED' %}
      a ajouté <a href="/song/{{ activity.song.id }}">{{ activity.song.title }}</a> a sa liste !
      {% elif activity.action == 'REMOVED' %}
      a retiré <a href="/song/{{ activity.song.id }}">{{ activity.song.title }}</a> de sa liste !
      {% elif activity.action == 'FAVOURITE' %}
      a ajouté <a href="/song/{{ activity.song.id }}">{{ activity.song.title }}</a> à ses favoris !
      {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock content %}

