{% extends '_base.html' %}
{% block title %} Accueil{% endblock title %}
{% block content %}
Vous etes connecté !
<div>
  {% for activity in activities %}
  <div>
    {% if activity.action.name == 'ADDED' %}
    <p>{{activity.user}} a ajouté {{ activity.song }} a sa liste !</p>
    {% elif activity.action.name == 'REMOVED' %}
    <p>{{activity.user}} a retiré {{ activity.song }} de sa liste !</p>
    {% elif activity.action.name == 'FAVOURITE' %}
    <p>{{activity.user}} a ajouté {{ activity.song }} à ses favoris !</p>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock content %}

