{% extends '_base.html' %}

{% block title %}
{{song.staffs.all.0.name}} - {{song.title}}
{% endblock title %}

{% block content %}
<div>
  <img src="{{ song.imageUrl }}" style="height: 100%; width: 10rem" />
  <h1>
    {% for staff in song.staffs.all %} {{ staff.name }} {% endfor %} -
    {{song.title }} | {{ song.albumName }}
  </h1>
  {% if user.is_authenticated %}
  <form action="/api/add/{{ song.id }}" method="POST">
    {% csrf_token %}
    <button type="submit">
      {% if in_list%}Remove from List {% else %}Add to list {% endif %}
    </button>
  </form>
  {% if in_list%}
  <form action="/api/add/favourite/{{ song.id }}" method="post">
    {% csrf_token %}
    <button type="submit">{{favourite}}</button>
  </form>
  {% endif %} {% endif %}
</div>
{% endblock content %}
