{% extends '_base.html' %}

{% block title %}
{{song.artists.all.0.name}} - {{song.title}}
{% endblock title %}

{% block content %}
<div>
  <img src="{{ song.imageUrl }}" style="height: 100%; width: 10rem" />
  <h1>
    {% for artist in song.artists.all %} {{ artist.name }} {% endfor %} -
    {{song.title }} | {% for album in song.song_albums.all %} <a href="/album/{{album.id}}">{{album.name}}</a>
    {% endfor %}
  </h1>
  {% if user.is_authenticated %}
  <form action="/api/add/{{ song.id }}" method="POST">
    {% csrf_token %}
    <button type="submit">
      {% if list_entry %}Remove from List {% else %}Add to list {% endif %}
    </button>
  </form>
  {% if list_entry%}
  <form action="/api/add/favourite/{{ song.id }}" method="post">
    {% csrf_token %}
    <button type="submit">{{list_entry.favourite}}</button>
  </form>
  {% endif %} {% endif %}
</div>
{% endblock content %}