.grid {
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: visible;
}

.grid>*:nth-child(1) {
  justify-self: center;
}

.header {
  background-color: #f2f2f2;
  height: 16rem;
}

.header__image {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  transform: translateY(2rem);
  border-radius: 0.75rem;
}

.header__content {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}

.header__content__title {
  font-weight: bold;
  font-size: 3rem;
}

.header__content__infos {
  margin-top: 1rem;
}

.header__content__infos__name {
  color: #767676;
}

.header__content__infos__value {
  margin-top: 0.5rem;
}

.body {
  margin-top: 4rem;
}

.body__left {
  text-align: center;
  width: 16rem;
}

.body__left__song-buttons {
  display: flex;
  justify-content: space-around;
  height: 2rem;
}

.body__left__song-buttons__add-button-container {
  display: flex;
  width: 80%;
}

.body__left__song-buttons__add-button-container__button {
  cursor: pointer;
  background-color: #2185D0;
  border-radius: 4px;
  color: white;
  width: 100%;
  font-weight: bold;
}

.body__left__song-buttons__fav-button-container {
  display: flex;
  width: 15%;
}

.body__left__song-buttons__fav-button-container__button {
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBBD08;
  width: 100%;
}

.body__left__title {
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #767676;
}

.body__left__cards {
  margin-top: 1rem;
  background-color: #f2f2f2;
  width: 100%;
  min-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body__left__cards__card {
  position: relative;
  margin: 1rem 0;
  width: 80%;
  border-radius: 0.5rem;
  overflow: hidden;
  outline: 5px solid white;
  outline-offset: -5px;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
}

.body__left__cards__card__name-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.25rem 1rem;
  border-radius: 1rem;
}

.body__left__cards__card__name-container__name {
  max-width: 15.5ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.body__left__cards__card__image {
  width: 100%;
  height: 4rem;
  object-fit: cover;
}

.body__right__title {
  margin-top: 2rem;
  font-weight: bold;
  color: black;
}

.body__right__cards {
  display: flex;
  flex-wrap: wrap;
}


.body__right__cards__card {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  width: 20rem;
  height: 8rem;
  outline: 1px solid #d4d4d5;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
}

.body__right__cards__card__image-container {
  width: 7rem;
  height: 100%;
}

.body__right__cards__card__image-container__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body__right__cards__card__content {
  padding: 1.5rem 1rem;
}

.body__right__cards__card__content__name {
  color: black;
  font-weight: bold;
  font-size: larger;
}

.body__right__cards__card__content__description {
  margin-top: 0.5rem;
  color: rgba(0, 0, 0, 0.8);
  max-width: 11rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}