.body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.body__left {
  position: relative;
  width: 100%;
  height: 100vh;
}

.body__left__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.body__left__name {
  font-weight: bold;
  font-size: xx-large;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.body__right {
  display: flex;
  flex-direction: column;
  width: 35%;
  place-self: center;
}

.body__right__title {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  padding-bottom: 1rem;
}

.body__right__text {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 2rem;
}

.body__right__form {
  display: flex;
  flex-direction: column;
}

.body__right__form > label {
  font-size: small;
  font-weight: bold;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.body__right__form input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
}

.body__right__form__checkbox {
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  display: flex;
  align-items: center;
}

.body__right__form__checkbox__label {
  padding: 0;
  margin: 0;
  margin-left: 0.25rem;
  font-size: small;
  color: rgba(0, 0, 0, 0.8);
}

.body__right__form__text {
  text-decoration: underline;
  text-underline-offset: 2px;
  padding-bottom: 1rem;
  color: #2185d0;
  font-size: small;
}

.body__right__form__buttons {
  padding-top: 1rem;
  display: flex;
}

.body__right__form__buttons--between {
  justify-content: space-between;
}

.body__right__form__buttons--center {
  justify-content: center;
}

.body__right__form__buttons__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  background-color: #e0e1e2;
  font-size: small;
  font-weight: bold;
}

.body__right__form__buttons__button.blue {
  color: white;
  background-color: #2185d0;
}

.body__right__form__text--top {
  margin-top: 1rem;
}
