@media screen and (min-width: 1024px) {
  .body__activity {
    width: calc(35% - 2rem);
  }

  .body__list {
    width: calc(50% - 2rem);
  }

  .body__follows {
    width: calc(15% - 2rem);

  }
}

@media screen and (max-width: 1023px) and (min-width: 716px) {
  .body__activity {
    width: calc(50% - 2rem);
    overflow: hidden;
  }

  .body__list {
    width: calc(50% - 2rem);
  }

  .body__follows {
    display: none;
  }
}

@media screen and (max-width: 715px) {
  .body__activity {
    width: calc(100% - 2rem);
    overflow: hidden;
  }

  .body__list {
    width: calc(50% - 2rem);
    display: none;
  }

  .body__follows {
    width: calc(25% - 2rem);
    display: none;
  }

}

.body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 2.5rem;
}

/* Body Container */

.body__container {
  margin-left: 2rem;
  flex-direction: column;
}

.body__container__title {
  font-weight: bold;
  font-size: larger;
}

.body__container__title--center {
  text-align: center;
}

.body__container__title--right {
  text-align: right;
}

/* Body Activity */

.body__activity__cards {
  margin-top: 1rem;
}

.body__activity__cards__card  {
  margin-top: 1rem;
  display: flex;
  padding: 0.5rem;
  border-radius: 10px;
  align-items: center;
  background-color: #fafafb;
}

.body__activity__cards__card__image {
  height: 100%;
  width: 6.5rem;
  border-radius: 16px;
}

.body__activity__cards__card__content {
  padding: 0 0.5rem;
}

.body__activity__cards__card__content * {
  margin-top: 0.5rem;
}

.body__activity__cards__card__content__title {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.body__activity__cards__card__content__title:hover {
  color: rgba(0, 0, 0, 0.7);
}

.body__activity__cards__card__content__text {
  color: rgba(0, 0, 0, 0.8);
}

.body__activity__cards__card__content__avatar {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 6666rem;
}

/* Body List */

.body__list__container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10px;
}

.body__list__container__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.body__list__container__grid__card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.body__list__container__grid__card__image {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 16px;
}

.body__list__container__grid__card__title {
  font-size: small;
  color: rgba(0, 0, 0, 0.8);
  color: black;
}

.body__list__container__grid__card__artist {
  font-weight: bold;
  font-size: larger;
  color: black;
}

.body__list__container__grid__card__title:hover, .body__list__container__grid__card__artist:hover {
  color: rgba(0, 0, 0, 0.7);
}

.body__list__container__button {
  margin: 0 auto;
  display: flex;
  color: white;
  background-color: #1b1c1d;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  width: max-content;
}

/* Body Follows */

.body__follows__cards {
  background-color: #f2f2f2;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 10px;
}

.body__follows__cards__card {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body__follows__cards__card__image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 666rem;
}

.body__follows__cards__card__name:hover {
  color: rgba(0, 0, 0, 0.7);
}

.body__follows__cards__card__name {
  color: rgba(0, 0, 0);
  font-weight: bold;
  margin-top: 0.5rem;
}