@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  color: var(--secondary)
}


tooltip {
  position: relative;
  display: flex;
  justify-content: center;
}

tooltip :nth-child(2) {
  pointer-events: none;
  position: absolute;
  width: max-content;
  opacity: 0;
  background-color: var(--gray-light);
  padding: 0.15rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;

}

tooltip :nth-child(1):hover+ :nth-child(2) {
  opacity: 100;
  transform: translateY(2rem);
}