{% extends 'main/_base.html' %}

{% block title %}
{{ album.name }}
{% endblock title %}

{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'songs/_song.css' %}" />
<link rel="stylesheet" href="{% static 'songs/_artist.css' %}" />
{% endblock meta %}

{% block content %}
<div class="header grid">
  <img class="header__image" src="{{album.imageUrl}}" alt="">
  <div class="header__content">
    <h1 class="header__content__title">{{album.name}}</h1>
  </div>
</div>
<div class="body grid">
  <div class="body__left">
    <p class="body__left__title">Artistes</p>
    <div class="body__left__cards">
      {% for artist in album.artists.all %}
      <a href="{% url 'album' album.id %}" class="body__left__cards__card">
        <div class="body__left__cards__card__name-container">
          <span class="body__left__cards__card__name-container__name">{{ artist.name }}</span>
        </div>
        <img class="body__left__cards__card__image" src="{{artist.imageUrl}}" alt="{{artist.name}}">
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="body__right">
    <h3 class="body__right__title">Artistes</h3>
    <div class="body__right__cards">
      {% for song in album.songs.all %}
      <div class="body__right__cards__card">
        <div class="body__right__cards__card__image-container">
          <img class="body__right__cards__card__image-container__image" src="{{song.imageUrl}}" alt="">
        </div>
        <div class="body__right__cards__card__content">
          <a href="{% url 'song' song.id %}" class="body__right__cards__card__content__name">{{song.title}}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content%}