{% extends 'main/_base.html' %}

{% block title %}{{artist.name}}{% endblock title %}

{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'songs/_song.css' %}" />
<link rel="stylesheet" href="{% static 'songs/_artist.css' %}" />
{% endblock meta %}

{% block content %}
<div class="header grid">
  <img class="header__image" src="{{artist.imageUrl}}" alt="">
  <div class="header__content">
    <h1 class="header__content__title">{{artist.name}}</h1>
    <div class="header__content__infos">
      <p class="header__content__infos__name">{{artist.description}}</p>
    </div>
  </div>
</div>
<div class="body grid">
  <div class="body__left">
    {% if user.is_authenticated %}
    <div class="body__left__artist-buttons">
      <form class="body__left__artist-buttons__add-button-container" method="POST">
        {% csrf_token %}
        <button class="body__left__artist-buttons__add-button-container__button" type="submit">
          {% if favourite %}Retirer des favoris {% else %}Ajouter aux favoris {% endif %}
        </button>
      </form>
    </div>
    {% endif %}
    <p class="body__left__title">Albums</p>
    <div class="body__left__cards">
      {% for album in artist.artist_albums.all %}
      <a href="{% url 'album' album.id %}" class="body__left__cards__card">
        <div class="body__left__cards__card__name-container">
          <span class="body__left__cards__card__name-container__name">{{ album.name }}</span>
        </div>
        <img class="body__left__cards__card__image" src="{{album.imageUrl}}" alt="{{album.name}}">
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="body__right">
    <h3 class="body__right__title">Musiques</h3>
    <div class="body__right__cards">
      {% for song in artist.artist_songs.all %}
      <div class="body__right__cards__card">
        <div class="body__right__cards__card__image-container">
          <img class="body__right__cards__card__image-container__image" src="{{song.imageUrl}}" alt="">
        </div>
        <div class="body__right__cards__card__content">
          <a href="{% url 'song' song.id %}" class="body__right__cards__card__content__name">{{song.title}}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock content %}