{% extends 'main/_base.html' %}
{% block title %}{{ name }}{% endblock title %}

{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'songs/_browse.css' %}" />
{% endblock meta %}

{% block content %}
<h1>{{ name }} !</h1>
<form method="get" class="search-form">
    <input class="search-form__input" type="text" placeholder="Recherche" value="{{search}}" name="search">
    <select class="search-form__input" name="order">
        {{ options | safe}}
    </select>
    <button class="search-form__input" type="submit">Rechercher !</button>
</form>
<div style="width: 100vw;display:flex;justify-content:center;">
    <div class="card-container">
        {{ cards | safe }}
    </div>
</div>
{% include  'songs/_pagination.html' %}
{% endblock content %}