{% extends 'main/_base.html' %}

{% block title %}
{{song.artists.all.0.name}} - {{song.title}}
{% endblock title %}

{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'songs/_song.css' %}" />
{% endblock meta %}

{% block content %}
<div class="_songs-image-title _songs-grid">
  <img src="{{song.imageUrl}}" alt="">
  <div>
    <h1>{{song.title}}</h1>
    <div>
      <p class="name">Durée</p>
      <p class="value">{{song.length}}</p>
    </div>
  </div>
</div>
<div class="_songs-albums-artists _songs-grid">
  <div>
    <p class="_songs-cards-name">Albums</p>
    <div class="_songs-albums-cards">
      {% for album in song.song_albums.all %}
      <a href="{% url 'album' album.id %}" class="card">
        <div class="card-text-container">
          <span>{{ album.name }}</span>
        </div>
        <img src="{{album.imageUrl}}" alt="">
      </a>
      {% endfor %}
    </div>
  </div>
  <div>
    <h3 class="_songs-artist">Artistes</h3>
    <div class="_songs-artists-cards">
      {% for artist in song.artists.all %}
      <div class="card">
        <div class="card-img">
          <img src="{{artist.imageUrl}}" alt="">
        </div>
        <div class="card-content">
          <a href="{% url 'artist' artist.id %}" class="card-name">{{artist.name}}</a>
          <p class="card-description">{{artist.description}}</p>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock content %}