{% extends 'main/_base.html' %}

{% block title %}
{{song.artists.all.0.name}} - {{song.title}}
{% endblock title %}

{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'songs/_song.css' %}" />
{% endblock meta %}

{% block content %}
<div class="header grid">
  <img class="header__image" src="{{song.imageUrl}}" alt="">
  <div class="header__content">
    <h1 class="header__content__title">{{song.title}}</h1>
    <div class="header__content__infos">
      <p class="header__content__infos__name">Durée</p>
      <p class="header__content__infos__value" id="length">{{song.length}}</p>
    </div>
  </div>
</div>
<div class="body grid">
  <div class="body__left">
    {% if user.is_authenticated %}
    <div class="body__left__song-buttons">
      <form class="body__left__song-buttons__add-button-container" action="/api/add/{{ song.id }}" method="POST">
        {% csrf_token %}
        <button class="body__left__song-buttons__add-button-container__button" type="submit">
          {% if list_entry %}Retirer de ma liste{% else %}Ajouter a ma liste{% endif %}
        </button>
      </form>
      {% if list_entry%}
      <form class="body__left__song-buttons__fav-button-container" action="/api/add/favourite/{{ song.id }}"
        method="post">
        {% csrf_token %}
        <button class="body__left__song-buttons__fav-button-container__button" type="submit">
          <i
            class="body__left__song-buttons__fav-button-container__button__icon fas fa-star {% if list_entry.favourite %} favourite {% endif %}"></i>
        </button>
      </form>
      {% endif %}
    </div>
    {% endif %}
    <p class="body__left__title">Albums</p>
    <div class="body__left__cards">
      {% for album in song.song_albums.all %}
      <a href="{% url 'album' album.id %}" class="body__left__cards__card">
        <div class="body__left__cards__card__name-container">
          <span class="body__left__cards__card__name-container__name">{{ album.name }}</span>
        </div>
        <img class="body__left__cards__card__image" src="{{album.imageUrl}}" alt="{{album.name}}">
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="body__right">
    <audio controls src="{{song.previewUrl}}">
      Your browser does not support the
      <code>audio</code> element.
    </audio>
    <h3 class="body__right__title">Artistes</h3>
    <div class="body__right__cards">
      {% for artist in song.artists.all %}
      <div class="body__right__cards__card">
        <div class="body__right__cards__card__image-container">
          <img class="body__right__cards__card__image-container__image" src="{{artist.imageUrl}}" alt="">
        </div>
        <div class="body__right__cards__card__content">
          <a href="{% url 'artist' artist.id %}" class="body__right__cards__card__content__name">{{artist.name}}</a>
          <p class="body__right__cards__card__content__description">{{artist.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock content %}
  {% block javascript %}
  <script>
    function secondsToMinutes(number) {
      const minutes = Math.floor(number / 60);
      const seconds = number % 60

      return [minutes, seconds]
    }

    const lengthDiv = document.getElementById('length')

    const [minutes, seconds] = secondsToMinutes(lengthDiv.textContent)

    lengthDiv.textContent = minutes.toString().padStart(2, "0") + ":" + seconds.toString().padStart(2, "0") + " mins"
  </script>
  {% endblock javascript %}