{% extends 'main/_base.html' %}

{% block title %}
{{song.artists.all.0.name}} - {{song.title}}
{% endblock title %}

{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'songs/_song.css' %}" />
{% endblock meta %}

{% block content %}
<div class="_songs-image-title _songs-grid">
  <img src="{{song.imageUrl}}" alt="">
  <div>
    <h1>{{song.title}}</h1>
    <div>
      <p class="name">Durée</p>
      <p class="value" id="length">{{song.length}}</p>
    </div>
  </div>
</div>
<div class="_songs-albums-artists _songs-grid">
  <div>
    {% if user.is_authenticated %}
    <div class="_songs-list-buttons">
      <form class="add-button-form" action="/api/add/{{ song.id }}" method="POST">
        {% csrf_token %}
        <button type="submit">
          {% if list_entry %}Retirer de ma liste{% else %}Ajouter a ma liste{% endif %}
        </button>
      </form>
      {% if list_entry%}
      <form class="fav-button-form" action="/api/add/favourite/{{ song.id }}" method="post">
        {% csrf_token %}
        <button type="submit">{{list_entry.favourite}}</button>
      </form>
      {% endif %}
    </div>
    {% endif %}
    <p class="_songs-cards-name">Albums</p>
    <div class="_songs-albums-cards">
      {% for album in song.song_albums.all %}
      <a href="{% url 'album' album.id %}" class="card">
        <div class="card-text-container">
          <span>{{ album.name }}</span>
        </div>
        <img src="{{album.imageUrl}}" alt="">
      </a>
      {% endfor %}
    </div>
  </div>
  <div>
    <audio controls src="{{song.previewUrl}}">
      Your browser does not support the
      <code>audio</code> element.
    </audio>
    <h3 class="_songs-artist">Artistes</h3>
    <div class="_songs-artists-cards">
      {% for artist in song.artists.all %}
      <div class="card">
        <div class="card-img">
          <img src="{{artist.imageUrl}}" alt="">
        </div>
        <div class="card-content">
          <a href="{% url 'artist' artist.id %}" class="card-name">{{artist.name}}</a>
          <p class="card-description">{{artist.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock content %}
  {% block javascript %}
  <script>
    function secondsToMinutes(number) {
      const minutes = Math.floor(number / 60);
      const seconds = number % 60

      return [minutes, seconds]
    }
    
    const lengthDiv = document.getElementById('length')

    const [minutes, seconds] = secondsToMinutes(lengthDiv.textContent)

    lengthDiv.textContent = minutes.toString().padStart(2, "0") + ":" + seconds.toString().padStart(2, "0") + " mins"
  </script>
  {% endblock javascript %}