{% extends 'main/_base.html' %}
{% block title %} Accueil{% endblock title %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'users/_index.css' %}" />{% endblock meta %}
{% block content %}
<div class="container">
    <div class="activity">
        <h1>Activité</h1>
        <div class="activities">
            {{ activities | safe }}
        </div>
    </div>
    <div class="list">
        <h1 class="right">Votre Liste</h1>
        <div class="songs">
            <div class="grid">
                {% for song in list %}
                <div class="card">
                    <img src="{{song.imageUrl}}" alt="">
                    <a href="{% url 'song' song.id %}" class="title">{{song.title}}</a>
                    <a href="{% url 'song' song.id %}" class="artist">{{song.artists.all.0.name}}</a>
                </div>
                {% endfor %}
            </div>
            <a href="{% url 'user' user.id %}" class="btn">Voir plus</a>
        </div>
    </div>
    <div class="follows">
        <h1>Abonnements</h1>
    </div>
</div>

{% endblock content %}