{% extends 'main/_base.html' %}

{% block title %}Inscription{% endblock title %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'users/_connexion.css' %}" />{% endblock meta %}
{% block nav %}{% endblock nav %}

{% block content %}
<div class="body">
  <div class="body__left">
    <a href="{% url 'artist' artist.id %}" target="_blank" class="body__left__name">
      {{artist.name}}
    </a>
    <img class="body__left__image" src="{{ artist.imageUrl}}" alt="" />
  </div>
  <div class="body__right">
    <h2 class="body__right__title">A Music List</h2>
    <p class="body__right__text">Création d'un compte</p>
    <form class="body__right__form" action="?to={{request.GET.to}}" method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form }}
      <div class="body__right__form__checkbox">
        <input class="body__right__form__checkbox__input" id="id_conditions" type="checkbox" />
        <label class="body__right__form__checkbox__label" for="id_conditions">J'accepte les <a href="#">conditions
            d'utilisation</a></label>
      </div>
      <div class="body__right__form__buttons body__right__form__buttons--center">
        <button class="body__right__form__buttons__button blue" type="submit">Inscription</button></div>
      <a class="body__right__form__text body__right__form__text--top" href="{% url 'login' %}">J'ai deja un compte !</a>
    </form>
  </div>
</div>
{% endblock content %}