{% extends 'main/_base.html' %}

{% block title %}Profile de {{ object.username }}{% endblock title %}

{% block content %}
<div>
  {% if object.id != user.id %}
    {% if user.is_authenticated %}
    <form method="post">
      {% csrf_token %}
      <button>{% if is_following %}Unfollow{% else %}Follow{% endif %}</button>
    </form>
    {% endif %}
  {% endif %}
  <h1><strong>Liste de {{ object.username }}</strong></h1>
  {% if object.id == user.id %}
    <a href="{% url 'settings' user.id %}">Settings</a>
  {% endif %}
  <div style="display: flex; flex-wrap: wrap">
    {% for list in object.user_list.all %}
    <div style="margin: 5px 5px">
      <img style="width: 10rem" src="{{list.song.imageUrl}}" alt="{{list.song.title}}" />
      <a href="{% url 'song' list.song.id %}" target="_blank">
        <p style="text-align: center;">{{list.song.title}}</p>
      </a>
      {%if list.favourite %}
      <p style="text-align: center; color: red">Favourite !</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <h1><strong>Artistes favoris</strong></h1>
  <div style="display: flex; flex-wrap: wrap">
    {% for artist in object.favourite_artists.all %}
    <div>
      <img style="width: 10rem" src="{{artist.imageUrl}}" alt="">
      <a href="{% url 'artist' artist.id %}">
        <p>{{artist.name}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
  <p><strong>Liste de follow</strong></p>
  {% for user in object.follows.all %}
  <a href="{% url 'user' user.id %}">{{user}}</a>
  {% endfor %}
  <p><strong>Liste de follower</strong></p>
  {% for user in object.user_followers.all   %}
  <a href="{% url 'user' user.id %}">{{user}}</a>
  {% endfor %}
</div>
{% endblock content %}